<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>401</h1>
    <h3>Unauthorized</h3>
    <hr>
    <img src="https://http.cat/401" alt="401 Unauthorized Cat Image" style="max-width: 80%; height: auto;">
</div>
</body>
</html>