<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lists</title>

  <style>
            .next_button {
            background-color: blue;
            color: white;
            font-size: xx-large;
            text-align: right;
            float: right;
            margin-bottom: 2%;
            margin-right: 2%; 
        }

        .next_button:hover {
            background-color: rgb(68, 68, 246);
        }
  </style>

</head>
<body>

<h1>Types of Lists in HTML</h1>

<h2>1. Unordered List (ul)</h2>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<h2>2. Ordered List (ol)</h2>
<ol>
  <li>First Item</li>
  <li>Second Item</li>
  <li>Third Item</li>
</ol>

<h2>3. Description List (dl)</h2>
<dl>
  <dt>HTML</dt>
  <dd>HyperText Markup Language</dd>
  <dt>CSS</dt>
  <dd>Cascading Style Sheets</dd>
  <dt>JS</dt>
  <dd>JavaScript</dd>
</dl>

<h2>4. Nested List</h2>
<ul>
  <li>Fruits
    <ul>
      <li>Apple</li>
      <li>Orange</li>
      <li>Banana</li>
    </ul>
  </li>
  <li>Vehicles
    <ul>
      <li>Car</li>
      <li>Bus</li>
      <li>Bicycle</li>
    </ul>
  </li>
</ul>

<!-- Background Color -->
<label for="bgColor">Background Color: </label>
<input type="color" id="bgColor" name="bgColor" value="#ffffff" oninput="updateBackgroundColor(this.value)">
<br>

<!-- Text Color -->
<label for="textColor">Text Color: </label>
<input type="color" id="textColor" name="textColor" value="#000000" oninput="updateTextColor(this.value)">
<br>

<!-- Next Button -->
<button type="button" class="next_button" onclick="logValues()">
  <span>Next ></span>
</button>

<script>
  function updateBackgroundColor(color) {
    document.body.style.backgroundColor = color;
  }

  function updateTextColor(color) {
    document.body.style.color = color;
  }


  function logValues() {
    const bgColor = document.getElementById("bgColor").value;
    const textColor = document.getElementById("textColor").value;
    const values = {
      bgColor: bgColor,
      textColor: textColor,
    }

    console.log(values);


      fetch('/lists', {
      method: 'POST', 
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(values)
    })
    .then(value => value.text())
    .then((content) => {
      const blob = new Blob([content], {
        type: 'text/html'
      });
      const link = document.createElement('a');
      link.style.display = 'none';
      link.href = URL.createObjectURL(blob);
      link.download = 'lists.html';
      link.click();

      document.body.remove(link);
    })
    .then(() => {
      window.location.pathname = '/formatting'
    })

    .catch(error => {
      console.error('Error: ', error);
    })


  }
</script>

</body>
</html>